// CREATE THEME

//-----COLORS BACKGROUND------
$primary: #f7f8fa;
$secondary: #0f7c90;
$paper: #ffffff;
$light: #fbfbf7;
$darkGrey: #686f7a;
$grey: #989586;
$lightGrey: #dcdacb;
$lightYellow:#ffe799;
$darkYellow:#c3c0a6;
$lightRed:#ec5353;
$red:#e22a43;
$darkGreen:#094c59;
//-----COLORS TEXT------
$textPrimary: #29303b;
$textSecondary: #0f7c90;
$textWhite: #ffffff;
$textDarkGrey: #3c3b37;
$textLightGrey: #73726c;
$textDarkOrange:#be5a0e;
$textLightOrange:#eb8a2f;
$textBrown: #593d00;
$textGreen:#00a50e;
$textDarkGreen:#094c59;
//-------FONT SIZE-------
$body1: 10px;
$body2: 12px;
$subtitle: 14px;
$h7: 15px;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3-5:25px;
$h3: 30px;
$h2: 40px;
$h1: 44px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//----------SPACING---------
$spacing: 10px;
